*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
width: 800px;
height: 500px;
text-align: center;

}

form{
  padding: 20px;
  margin: 0 auto;
}

select{
  padding: 10px 56px;
  margin-left: 20px;
  font-size: 16px;

}

option{
  padding: 10px;
}

.btn{
  padding: 10px 20px;
  margin: 20px;
  background-color: rgb(73, 17, 17);
  color: #fff;
  border: none;
  font-size: 20px;
  margin-left: 269px;
  display: flex;
}


table{
  margin: 0 auto;
}
.th{
  margin-left: 20px;
  padding: 10px;
  color: blue;
}
thead{
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
tbody{
  align-items: center;
  justify-content: center;
}


.mainbtn{
  padding: 5px 10px;
  background-color: rgb(2, 66, 66);
  color: #fff;
  font-size: 20px;
  border: none;
  margin: 15px 0px 10px 649px;

}
label{
  font-size: 20px;
  font-weight: 500;
}

table ,th ,td{
  border: 1px solid black;
}